.heading {
	font-size:60px;
	text-align: center;
	color: purple;
	width: 700px;
	background: aliceblue;
	margin: 50px auto;
	padding: 10px;
}
.task {
  font-size: 18px;
  display: grid;
  grid-template-columns: 100px auto 100px;
}
.task-list {
  margin-top: 8px;
}

.task:hover {
	background-color: #def0ff;
}
.cartstore {
	font-size:20px;
	text-align: left;
	background-color: lightblue;
	border-radius: 5px;
	width: 500px;
	margin: 50px auto;
	cursor: pointer;
}	



