.heading {
	font-size:40px;
	text-align: center;
	color: purple;
	width: 1000px;
	margin: 70px auto;
}
.header {
  background-color: #CBE353;
}

.task {
  font-size: 18px;
  display: grid;
  grid-template-columns: 100px auto 100px;
}
.task-list {
  margin-top: 8px;
}

.task:hover {
	background-color: #def0ff;
}
.cartstore {
	font-size:20px;
	text-align: left;
	border-radius: 5px;
	width: 500px;
	margin: 50px auto;
	cursor: pointer;
}	